<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}">
        <title>FirstFlaskSteps</title>
    </head>

    <body>
        <div class="container">
            <h1>Überschrift 1</h1>
            <div class="test">
                <p>Absatz 5</p>
            </div>
            <h2>Überschrift 172</h2>
            <p class="important">Absatz 2</p>   
            <p>Absatz 3</p>
        </div>
    </body>
</html>