:root{
    --color1: #353941;
    --color2: #26282B;
    --color3: #5F85DB;
    --color4: #90B8F8;
    --color5: #eeee;
}


body {
    padding-top: 50px;
    background-color: var(--color1) ;
    color: var(--color5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
}

img {
    width: 100%;
}

/* Formular textfeld Farbe */
.form-control {
    background-color: var(--color2);
    color: var(--color5);
}

/* begrenzt die Breite des Login und Register Containers */
.container-auth{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 350px;
}

.container-standard{
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 2000px;
}


.btn-custom{
    background-color: var(--color3);
    color: var(--color5);
}

.btn-custom-right{
    background-color: var(--color3);
    color: var(--color5);
    float: right;
}

.btn-custom-like{
    background-color: var(--color4);
    color: var(--color5);
}


/* Navbar angepasst*/
.navbar-inverse{
    background-color: var(--color2);
}

/* Dropdown Menue angepasst */
.dropdown-menu {
    background-color: var(--color2);
}
.dropdown-menu li a{
    background-color: var(--color2);
    color: var(--color5);
}

.dropdown-menu > li > a:hover {
    background-color: var(--color4);
    color: var(--color2);
}


/* flashed warning messages */
.alert{
    background-color: var(--color4);
    color: var(--color2);
    width: 500px;
    margin: 10px auto;
}

.jumbotron-frontpage {
    min-height: 800px !important;
    background-image: url("/static/img/compressed_alexander-andrews-53dxJIOJRfc-unsplash.jpg"); 
    background-size: cover;
    background-position: center;
    color: var(--color5);
}

.jumbotron-register {
    /*background-image: url("/static/img/compressed_cropped_izzy-gerosa-xniTNHp4UVE-unsplash.jpg"); */
    background-color: var(--color3);
    background-size: cover;
    background-position: center;
    color: var(--color1);
}


.gallery {
    padding: 10px;
}
.thumbnail-gallery {
    background-color: var(--color2);
    border: none;   
}

/* Erweitert Bootstrap 3 Columns mit Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
  }
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
 }