:root{
    --color1: #353941;
    --color2: #26282B;
    --color3: #5F85DB;
    --color4: #90B8F8;
    --color5: #eeee;
}


body {
    padding-top: 50px;
    background-color: var(--color1) ;
    color: var(--color5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 33px;
}


/* Formular textfeld Farbe */
.form-control {
    background-color: var(--color2);
    color: var(--color5);
}

/* begrenzt die Breite des Login und Register Containers */
.container-auth{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 350px;
}

.container-standard{
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 2000px;
}


.btn-custom{
    background-color: var(--color3);
    color: var(--color5);
}

.btn-custom-right{
    background-color: var(--color3);
    color: var(--color5);
    float: right;
}

.btn-custom-like{
    background-color: var(--color4);
    color: var(--color5);
}


/* Navbar angepasst*/
.navbar-inverse{
    background-color: var(--color2);
}

/* Dropdown Menue angepasst */
.dropdown-menu {
    background-color: var(--color2);
}
.dropdown-menu li a{
    background-color: var(--color2);
    color: var(--color5);
}

.dropdown-menu > li > a:hover {
    background-color: var(--color4);
    color: var(--color2);
}


/* flashed warning messages */

.alert{
    background-color: var(--color4);
    color: var(--color2);
    width: 50%;
    max-width: 600px;
    margin: 40px auto;
}

@media screen and (max-width: 610px){
    .alert{
        background-color: var(--color4);
        color: var(--color2);
        width: 90%;
        margin: 10px auto;
    }

    .flashed-msg {
        margin: 15px;
    }
}

.jumbotron-frontpage {
    min-height: 800px !important;
    background-image: url("/static/img/compressed_alexander-andrews-53dxJIOJRfc-unsplash.jpg"); 
    background-size: cover;
    background-position: center;
    color: var(--color5);
}

.jumbotron-register {
    /*background-image: url("/static/img/compressed_cropped_izzy-gerosa-xniTNHp4UVE-unsplash.jpg"); */
    background-color: var(--color3);
    background-size: cover;
    background-position: center;
    color: var(--color1);
}

.service {
    background-color: var(--color3);
    color: var(--color1);
    font-weight: bold;
    margin-right: 15px;
}

.remove-icon {
    margin-left: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
    stroke: var(--color4);
}

.search-result {
    width: 100%;
}

.panel-body {

    display: inline-block;

}

.panel-body-left {
    width: 68%;
    padding-left: 25px;
    margin-top: 10px;
    display: inline-block;

}

.panel-body-right {
    width: 30%;
    display: inline-block;
    position: relative;
    bottom: 25px;
}

.service-category {
    width: 200px;
    height: 100px;
    background-color: var(--color3);
    color: var(--color1);
    font-weight: bold;
    margin: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 18px;
}

@media screen and (max-width: 610px){
    .service-category {
        width: 150px;
        height: 70px;
        background-color: var(--color3);
        color: var(--color1);
        font-weight: bold;
        margin: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        font-size: 13px;
    }
}

.gallery {
    padding: 10px;
}
.thumbnail-gallery {
    background-color: var(--color2);
    border: none;   
}

/* Erweitert Bootstrap 3 Columns mit Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
  }
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
 }

.link {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}


.table-order-details {
    border: 1px solid var(--color5);
    color: var(--color5);
    width: 80%;
}

.textbox {
    padding: 3%;
}

.textbox-left-padded {
    padding-left: 10%;
}

.quote {
    display: flex;
    justify-content: space-between;
    width: 90%;
}


@media screen and (max-width: 610px){
    td {
        font-size: 12px;
    }

    .table-order-details {
        border: 1px solid var(--color5);
        width: 100%;
    }

    h1 {
        font-size: 15px;
    }

    .table-order-overview {
        border: 1px solid var(--color3);
        width: 100%;
    }

    .quote {
        width: 100%;
    }
    
}

.table-order-details-column-left{
    border: 1px solid var(--color3);
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
  }

  .table-order-details-column-right{
    border: 1px solid var(--color3);
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
  }

.order-overview-section{
    padding: 10px;
    font-size: 20px
    
}

.table-order-overview {
    border: 1px solid var(--color3);
    width: 100%;
    margin-top: 10px;
    background-color: var(--color2);
}

.table-order-text{
    color: var(--color5);
}

a:hover { 
    color: var(--color4);
  }


.checkbox-padded {
    padding: 0 10px 0 10px;
}

.checkbox-button-right {
    padding-left: 20%;
}