{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}



{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flashed-msg">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% if current_user.id == service_order.customer.kunden_id or current_user.id == service_order.service_provider.dienstleister_id%}
<div class="container container-standard">
    <h1>Auftragsdetails</h1>
    <table class="table-order-details">
        <tr>
            <td class="table-order-details-column-left">Auftragsnummer</td>
            <td class="table-order-details-column-right">{{ service_order.order_details.id }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Dienstleistung</td>
            <td class="table-order-details-column-right">{{ service_order.service.Dienstleistung }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Auftragsstatus</td>
            <td class="table-order-details-column-right">{{ service_order.order_details.Status }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Startzeitpunkt</td>
            <td class="table-order-details-column-right">{{ service_order.order_details.Startzeitpunkt.date() }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Endzeitpunkt</td>
            <td class="table-order-details-column-right">
                {% if service_order.order_details.Endzeitpunkt != None %}
                {{ service_order.order_details.Endzeitpunkt.date() }}
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <h1>Kundendendaten</h1>
    <table class="table-order-details">
        <tr>
            <td class="table-order-details-column-left">Kundenname</td>
            <td class="table-order-details-column-right">{{ service_order.customer.k_nachname }}, {{
                service_order.customer.k_vorname }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Straße</td>
            <td class="table-order-details-column-right">{{ service_order.customer.k_straße }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Ort</td>
            <td class="table-order-details-column-right">{{ service_order.customer.k_ort }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">PLZ</td>
            <td class="table-order-details-column-right">{{ service_order.customer.k_plz }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Kontakt</td>
            <td class="table-order-details-column-right">{{ service_order.customer_contact }}</td>
        </tr>
    </table>
    <br>
    <h1>Beschreibung der Anforderungen</h1>
    <div class="table-order-details textbox">
        {{ service_order.order_details.anfrage_freitext|safe}}
    </div>
    <br>
    <div class="table-order-details">
        {% if service_order.customer_image != None %}
        <img src="data:;base64,{{ service_order.customer_image }}" />
        {% endif %}
    </div>
    <br>
    <h1>Dienstleisterdaten</h1>
    <table class="table-order-details">
        <tr>
            <td class="table-order-details-column-left">Dienstleister</td>
            <td class="table-order-details-column-right">{{ service_order.service_provider.firmenname }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Straße</td>
            <td class="table-order-details-column-right">{{ service_order.service_provider.d_straße }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Ort</td>
            <td class="table-order-details-column-right">{{ service_order.service_provider.d_ort }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">PLZ</td>
            <td class="table-order-details-column-right">{{ service_order.service_provider.d_plz }}</td>
        </tr>
        <tr>
            <td class="table-order-details-column-left">Kontakt</td>
            <td class="table-order-details-column-right">{{ service_order.service_provider_contact }}</td>
        </tr>
    </table>
    <br>
   
    <div class="table-order-details textbox">
        <h1 class="quote ">
            <div>Angebotspreis:</div>
            <div>{{ (service_order.quoted_price) }}</div>
        </h1>
        <br>
        <div>
            {% if current_user.id == service_order.service_provider.dienstleister_id and service_order.order_details.Status == ServiceOrderStatus.requested.value %}
                {{ wtf.quick_form(quotation_button, novalidate=True, button_map={"submit": "custom"}) }}
            {% endif %}
        </div>
        {% if current_user.id == service_order.customer.kunden_id and service_order.order_details.Status == ServiceOrderStatus.quotation_available.value %}
        <form method="post">
            Angebot des Dienstleisters akzeptieren und Auftrag annehmen?
            <br>
            <div class="quote textbox">
                Annehmen:
                <input type="radio" name="options" id="accept" value="accept" >
                Ablehnen:
                <input type="radio" name="options" id="accept" value="reject" >
                <button type="submit" class="btn btn-custom">Bestätigen</button>
            </div>
        </form>
        {% endif %}
        {% if current_user.id == service_order.customer.kunden_id and service_order.order_details.Status == ServiceOrderStatus.quotation_confirmed.value %}
        <form method="post">
            <div class="quote textbox">
                <button type="submit" class="btn btn-custom" name="options_confirm" id="accept" value="confirm">Dienstleistung abnehmen</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}


{% endblock %}