{% extends 'base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
content %}

<div class="container container-standard">
  <h1>Ihre Aufträge:</h1>
  <div class="gallery">
    {% for service in service_orders %}
    <a href="{{ url_for('views.view_order_details',id=service.order_details.id) }}">
      <div class="panel panel-default service">
        <div class="panel-body">
          <div class="row">
            <div class="order-overview-section">
              {{service.order_details.id}}
            </div>
            <div class="order-overview-section">
              {{ service.service.Dienstleistung}}
            </div>
            <div class="order-overview-section">
              {% if current_user.id == service.service_provider.dienstleister_id %}
                {{ service.customer.k_nachname}}
              {% endif %}
              {% if current_user.id == service.customer.kunden_id %}
                {{ service.service_provider.firmenname}}
              {% endif %}
            </div>
            <div class="order-overview-section">
              {{service.order_details.Status}}
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
