{% extends 'base.html' %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}

<div class="container container-standard">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto content">
      <img src="data:;base64,{{ service_provider_profile_image}}" />
    </div>
  </div>
</div>

<div class="container container-standard">
  <div class="gallery">
    <div class="row">
      <div class="panel panel-default service">
        <div class="panel-body">
          Wilkommen bei {{ service_provider_businessname }}<br />
          Mein Name lautet: {{ service_provider_firstname }} {{
          service_provider_lastname }}
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-standard">
  <div class="gallery">
    <b class="row container-standard">Was wir können:</b>
    <div class="row">
      {% for service in services %}
      <div class="panel panel-default service">
        <div class="panel-body">
          {{service.Dienstleistung}}
          <br />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container container-standard">
  <div class="gallery">
    <b class="row container-standard">Unser Profil:</b>
    <div class="row">
      <div class="panel panel-default service">
        <div class="panel-body">
          {{service_provider_profile.profilbeschreibung}}
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-standard">
  <div class="gallery">
    <div class="row">
      {% for image in gallery_images %}
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="thumbnail thumbnail-gallery">
          <img src="data:;base64,{{ image }}" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
