{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<div class="container container-standard">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
            <img src="data:;base64,{{ service_provider_profile_image }}">
        </div>
    </div>
</div>

<div class="container container-standard">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
            {{ service_provider_firstname }} {{ service_provider_lastname }}<br>
            {{ service_provider_businessname }}
        </div>
    </div>
</div>

<div class="container container-standard">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
            {% for service in services %}
                {{service.Dienstleistung}}
                {{service.d_beschreibung}}
                <br>
            {% endfor %}
        </div>
    </div>
</div>

<div class="timeline">
    <div class="row">
        {% for post in all_posts %}
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="thumbnail thumbnail-post">
                <img src="data:;base64,{{ images[post.id] }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}