{% extends 'base.html' %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}

<div class="container container-standard">
  <h1>Ihre Aufträge:</h1>
    <div class="gallery">
      <div class="row">   
        {% for service in services %}
        <div class="panel panel-default service">
          <div class="panel-body">
            {{ services[loop.index0]| safe }} {{service_description[loop.index0] | safe }}
            {{order_member[loop.index0] | safe }}
            <br />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}